In [44]:
%matplotlib inline
import numpy as np
import pandas as pd

Drop columns (axis=1) that are not useful to train

In [45]:
to_remove = ["job_name", "reason","channel","n_issues","ok_since","zip","gender"] 
df_train = pd.read_csv("../data/puzzle_train_dataset.csv").set_index("ids").drop(to_remove, axis=1)
df_test = pd.read_csv("../data/puzzle_test_dataset.csv").set_index("ids").drop(to_remove, axis=1)

In [46]:
df_train.head()
# df_train.describe()
# df_train.info()

,default,score_1,score_2,score_3,score_4,score_5,score_6,risk_rate,amount_borrowed,borrowed_in_months,credit_limit,income,sign,facebook_profile,state,real_state,n_bankruptcies,n_defaulted_loans,n_accounts
ids,,,,,,,,,,,,,,,,,,,
810e3277-619e-3154-7ba0-ebddfc5f7ea9,False,smzX0nxh5QlePvtVf6EAeg==,tHpS8e9F8d9zg3iOQM9tsA==,710.0,104.174961,0.661509,123.015325,0.43,20024.31,60.0,62386.0,59869.05,virg,True,xsd3ZdsI3356I3xMxZeiqQ==,n+xK9CfX0bCn77lClTWviw==,1.0,0.0,9.0
b4118fd5-77d5-4d80-3617-bacd7aaf1a88,False,DGCQep2AE5QRkNCshIAlFQ==,RO7MTL+j4PH2gNzbhNTq/A==,330.0,97.880798,0.531115,110.913484,0.23,10046.51,36.0,NaN,46016.31,sagi,False,xsd3ZdsI3356I3xMxZeiqQ==,n+xK9CfX0bCn77lClTWviw==,0.0,0.0,3.0
a75638f1-4662-4f4f-044a-d649b676d85d,False,8k8UDR4Yx0qasAjkGrUZLw==,wkeCdGeu5sEv4/fjwR0aDg==,360.0,97.908925,0.611086,104.620791,0.30,21228.25,60.0,NaN,48025.47,libr,True,/L8vvVesB5WyAv190Hw/rQ==,N5/CE7lSkAfB04hVFFwllw==,0.0,0.0,5.0
285ce334-3602-42b3-51cb-eebfcba48a09,False,4DLlLW62jReXaqbPaHp1vQ==,tQUTfUyeuGkhRotd+6WjVg==,120.0,100.434557,0.139784,120.134718,0.15,23032.33,36.0,NaN,46011.12,NaN,False,GW2VZ3dN3OGHSjQ6JkfqQw==,N5/CE7lSkAfB04hVFFwllw==,0.0,0.0,5.0
e643bf65-9288-92f2-df13-eed631fe237c,False,4DLlLW62jReXaqbPaHp1vQ==,7h8PTkrlTWUPP3yuyP4rUg==,330.0,103.774638,0.002856,104.320462,0.08,24026.29,36.0,32366.0,90026.17,libr,NaN,sjJbkqJS7cXalHLBFA+EOQ==,N5/CE7lSkAfB04hVFFwllw==,0.0,0.0,10.0

In [47]:
print("Number of train samples: %d" %df_train.shape[0])
print("Number of test samples:  %d" %df_test.shape[0])
print("Number of features: %d" %(df_train.shape[1]-1))
ratio = df_train['default'].value_counts()[0] / df_train['default'].value_counts()[1]
print("Classes ratio (False/True):", ratio)

Number of train samples: 64592
Number of test samples:  35000
Number of features: 18
Classes ratio (False/True): 5.305573080967402

Remove all rows where the default column has missing (NaN) values

In [48]:
df_train = df_train[pd.notnull(df_train['default'])]
df_train["default"] = df_train["default"].astype("int")

In [49]:
feats_info = pd.concat([df_train.isnull().sum(), df_train.dtypes, df_train.T.apply(lambda x: x.nunique(), axis=1)], axis=1)
feats_info.columns = ["Missing","Type","Unique"]
print("\n Dataset Information (missing features, data type, unique values)")
print(feats_info)

 Dataset Information (missing features, data type, unique values)
                    Missing     Type  Unique
default                   0    int64       2
score_1                   0      str       7
score_2                   0      str      35
score_3                   0  float64      87
score_4                   0  float64   59966
score_5                   0  float64   59966
score_6                   0  float64   59966
risk_rate                 0  float64      81
amount_borrowed           0  float64   50484
borrowed_in_months        0  float64       2
credit_limit          18779  float64   26238
income                    0  float64   54273
sign                  18938      str      12
facebook_profile       5971   object       2
state                     0      str      50
real_state                0      str       5
n_bankruptcies          202  float64       7
n_defaulted_loans        18  float64       5
n_accounts                0  float64      45

Create additional binary features flag for missing values for all columns in the dataset

In [50]:
for col in df_test.columns:
    df_train["is_" + col + "_missing"] = df_train[col].isnull() * 1
    df_test["is_" + col + "_missing"] = df_test[col].isnull() * 1

Represent categorical feature (non number valued columns) as a series o binary values and drop first column to avoid redundancy

In [51]:
df_train = pd.get_dummies(df_train, columns=['score_1','score_2','real_state'], drop_first=True)
df_test = pd.get_dummies(df_test, columns=['score_1','score_2','real_state'], drop_first=True)

In [52]:
df_train.head()

,default,score_3,score_4,score_5,score_6,risk_rate,amount_borrowed,borrowed_in_months,credit_limit,income,...,score_2_tHpS8e9F8d9zg3iOQM9tsA==,score_2_tQUTfUyeuGkhRotd+6WjVg==,score_2_vJyc9xom9v7hwFMPTIpmKw==,score_2_w1miZqhB5+RSamEQJa0rqg==,score_2_wjdj2vxjWoDsEIk0l09ynw==,score_2_wkeCdGeu5sEv4/fjwR0aDg==,real_state_N5/CE7lSkAfB04hVFFwllw==,real_state_UX7AdFYgQh+VrVC5eIaU9w==,real_state_n+xK9CfX0bCn77lClTWviw==,real_state_nSpvDsIsslUaX6GE6m6eQA==
ids,,,,,,,,,,,,,,,,,,,,,
810e3277-619e-3154-7ba0-ebddfc5f7ea9,0,710.0,104.174961,0.661509,123.015325,0.43,20024.31,60.0,62386.0,59869.05,...,True,False,False,False,False,False,False,False,True,False
b4118fd5-77d5-4d80-3617-bacd7aaf1a88,0,330.0,97.880798,0.531115,110.913484,0.23,10046.51,36.0,NaN,46016.31,...,False,False,False,False,False,False,False,False,True,False
a75638f1-4662-4f4f-044a-d649b676d85d,0,360.0,97.908925,0.611086,104.620791,0.30,21228.25,60.0,NaN,48025.47,...,False,False,False,False,False,True,True,False,False,False
285ce334-3602-42b3-51cb-eebfcba48a09,0,120.0,100.434557,0.139784,120.134718,0.15,23032.33,36.0,NaN,46011.12,...,False,True,False,False,False,False,True,False,False,False
e643bf65-9288-92f2-df13-eed631fe237c,0,330.0,103.774638,0.002856,104.320462,0.08,24026.29,36.0,32366.0,90026.17,...,False,False,False,False,False,False,True,False,False,False